@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300&family=Outfit:wght@200;300;400&display=swap");

@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-outfit: "Outfit", sans-serif;
}
