@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans;
  }
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
